body{

}


.search-bar{
display: flex;
}
#cityInput{
    width: 80%;
}
#cityInputButton{
    width: 15%;
    margin-left: 5px;
}
.statusWeather{
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
}
.weather-card{
    margin-top: 50px;
    background-color: bisque;
    
    
}

.CityNameStatus{
    display: flex;
    justify-content: center;
}